<?xml version="1.0"?>
<fpga address="0x00ee0000">
  <clock>
    <source>internal</source>
    <period>1</period>
  </clock>
  <trigger>
    <source>internal</source>
    <period>400000</period>
  </trigger>
  <signal>
    <source>internal</source>
    <poi>4294967295</poi>
  </signal>
</fpga>
<tdc address="0x00aa0000">
  <verbosity>1</verbosity>
  <acq_mode>trigger</acq_mode>
  <det_mode>trailead</det_mode>
  <dll>PLL_High_Resolution</dll>
  <ettt/>
  <trigger_window>
    <width>4000</width>
    <offset>-2000</offset>
  </trigger_window>
</tdc>
<tdc address="0x00bb0000">
  <verbosity>1</verbosity>
  <acq_mode>trigger</acq_mode>
  <det_mode>trailead</det_mode>
  <dll>PLL_High_Resolution</dll>
  <ettt/>
  <trigger_window>
    <width>4000</width>
    <offset>-2000</offset>
  </trigger_window>
</tdc>
