.socket_block
{
  width: 150px;
  /*border: 2px black outset;*/
  display: inline-block;
  margin: 3px;
  padding: 5px;
}
.socket_block_title
{
  font-weight: bold;
  font-size: 12pt;
  padding: 2px;
  text-align: center;
}
