body
{
  font-size: 11pt;
  background-color: #fff;
}

h1
{
  font-size: 16pt;
}

input
{
  border: 1px lightgray solid;
}

.socket_block
{
  width: 150px;
  border: 1px lightgray solid;
  display: inline-block;
  margin: 3px;
  padding: 5px;
}

.socket_block_title
{
  font-weight: bold;
  font-size: 12pt;
  padding: 2px;
  text-align: center;
}

.socket_block_logger
{
  font-size: 9pt;
  width: 12em;
  height: 2em;
}

#time_field
{
  font-size: 9pt;
}
